hdbscan==0.8.40
numpy==1.24.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
opencv-python==4.11.0.86
opencv-python-headless==4.8.0.74
pillow==11.1.0
scikit-image==0.25.2
scikit-learn==1.6.0
scipy==1.15.2
Shapely==1.8.5
